/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v21-latin-300.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v21-latin-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v21-latin-500.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v21-latin-700.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v21-latin-800.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v21-latin-800.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------- Home Section Begin ----------------------- */
.home {
    background-color: #926FF6;
}

.logo {
    font-weight: 800;
    font-size: 18px;
}

.link {
    font-size: 12px;
}

.creative {
    font-size: 12px;
    font-weight: 800;
    color: #FFE074;
}

.home_title {
    font-size: 62px;
    font-weight: 800;
    color: #fff;
}
.home_text {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
/* ----------------------- Home Section End ----------------------- */


/* ----------------------- About Section Begin ----------------------- */
.gold_text {
    font-size: 14px;
    font-weight: 700;
    color: #FFAE00;
}

.main_title {
    font-size: 24px;
    font-weight: 500;
    color: #4F4F4F;
}

.main_text {
    font-size: 16px;
    font-weight: 300;
    color: #4F4F4F;
}

.pink_title {
    font-size: 16px;
    font-weight: 700;
    color: #F3849F;
}

/* ----------------------- About Section End ----------------------- */


/* ----------------------- Box Section Begin ----------------------- */
.box h6, .box p {
    margin: 0;
} 

.box {
    box-shadow: 0px 0px 100px 0px #0000000D;
    padding: 75px;
}

.box_title {
    color: #4F4F4F;
    font-weight: 500;
    font-size: 17px;
}
.box_text {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 12px;
}
/* ----------------------- Box Section End ----------------------- */
